.menu {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 40px;
    color: #fff;

    img.title-icon {
        width: 200px;
    }



    .separator {
        height: 60px;
    }

    .version {
        position: fixed;
        font-size: 20px;
        color: #ffffffaa;
        right: 10px;
        bottom: 10px;
    }

    .table-toggles {
        display: flex;
        padding: 0.5em 0;
        .table-toggle {
            font-size: 1.3em;
            padding: 0 0.6em;
            color: #00000033;
            &.checked {
                color: #fff;
                text-shadow: #444 5px 5px 0px;
            }
        }
    }
}